:root{
--background: rgb(252,70,107)radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(219,70,252,1) 100%);
--deck-background:#46fcaa;
--card-background:#46fcd2;
--card-match-background:#9bcb3c;
--card-notmatching-background:#ee0e51;
}
*{
    box-sizing: border-box;
}

html {
min-height: 100vh;
}

body {
    background: var(--background);
    overflow: hidden;
    font-family: 'Coda', cursive;
    margin: 0;
}
h1 {
    color:black;
    font-weight: normal;
    text-align: center;
    font-size: 3em;
}
.game-info{
    color: black;
    font-family: 'Coda', cursive;
    font-size: 2em;
}
.game-container {
    display: grid;
    grid-template-columns: repeat(6,auto);
    background: var(--deck-background);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    padding: 25px;
}
.game-info-container {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.cards{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: var(--card-background);
    /* height: 75px;
    width: 75px;
    background: black ;
    display: inline-block;
    line-height: 140px;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    vertical-align: top;
    cursor: pointer;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    flex: 1 0 15%; */
}
.card-back {
    background: black;
}
.open {
transform: rotateY(0);
background: transparent;
cursor: default;
}
.show {
    font-size: 35px;
}
.match {
    transform: rotateY(0);
    background:var(--card-match-background);
    font-size: 35px;
}
.notmatch {
    background: var(--card-notmatching-background);
}
#score {
    text-align: left;
    width: 350px;
    margin-bottom: 10px;
}
.stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;  
}
li {
    list-style: none;
    display: inline-block;
}
.restart {
    float: right;
    cursor: pointer;
}
